nav.navbar.navbar-inverse {
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  position: fixed;
  z-index: 200;
  .a2a_kit {
    position: absolute;
    top: 10px;
    right: 0;
    width: 200px;
    @include iphone {
      display: none;
    };
  }
  li {
    a {
      transition: color .5s;
      text-align: center;
       &:hover, &:focus, &:active {
         color: green;
       }
    }
  }

}


// Active State
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: green;
    background-color: transparent;
}
