// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colors
$green: green;
$green_t:rgba(21, 152, 0, .7);
$brand-primary:         #27ae60;
