section.blog-container {
  div.container {
    .row {
      .post-container {
        border-left: 1px solid $green;
        .single-post {
          padding-top: 20px;
          h2, h3 {
            margin: 0;
          }
          .a2a_kit {
            // padding-top: 6px;
            position: absolute;
            // top: 0;
            left: -36px;
            width: 36px;
            // height: 50px;
            background: $green;
          }
        }
        @include mobile {
          margin-left: 20px;          
        };
      }
    }
  }
}
