// margin-bottom
$mr-btm: 10px;
//
$img-height: 60vh;
$main-pic-h: calc(#{$img-height} - #{$mr-btm});
$pic-h: calc(#{$img-height} / 3 );


.img-caption {
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  padding: 20px;
  color: #fff;
  background: rgba(15, 15, 15, .5);
  @include iphone {
    padding: 10px;
    font-size: 10px;
  };
}


section.pics-container {
  .main-pics {
    height: $main-pic-h;
    background-size: cover;
    @include iphone {
      height: calc(#{$pic-h} - #{$mr-btm});
      margin-bottom: 10px;
    };
  }
  .pics {
    height: calc(#{$pic-h} - #{$mr-btm});
    margin-bottom: $mr-btm;
    .title-cover {
      padding-top: 25%;
      @include mobile {
        padding-top: 30%;
      };
    }
    &:hover {
      .title-cover {
        opacity: 1;
      }
    }
    .img-pic {
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background: #000;
    }
  }
}
